h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  letter-spacing: 0.02em;
}

ul {
  list-style: none;
}

textarea {
  resize: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  text-align: center;
  border: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  width: 1200px;
  height: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.tip-section {
  height: 100vh;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  background-color: #fff;
}

.tip-section__data {
  margin-bottom: 5px;
}

.tip-section__title {
  margin-bottom: 100px;
}

.wrap {
  position: relative;
}

.tip-section__icon {
  position: absolute;
  top: 0;
  left: 25%;
  width: 60px;
  height: 60px;
}

.next-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.button-next,
.button-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 30px;
  background-color: violet;
  color: #fff;
  border-radius: 4px;
  fill: currentColor;
  overflow: hidden;
}

.button-next {
  margin-right: 15px;
}

.button-next:hover,
.button-back:hover,
.button-next:focus,
.button-back:focus {
  -webkit-box-shadow: 0px 2px 22px -5px rgba(107, 51, 124, 0.6);
          box-shadow: 0px 2px 22px -5px rgba(107, 51, 124, 0.6);
  outline: none;
}

.button-next__icon,
.button-back__icon {
  margin-right: 10px;
}

.button-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Illuminated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Illuminated-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 160px;
  height: 60px;
}

.Illuminated-button:not(:last-child) {
  margin-right: 100px;
}

.Illuminated-button::before, .Illuminated-button::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: -webkit-transform 100ms linear;
  transition: -webkit-transform 100ms linear;
  transition: transform 100ms linear;
  transition: transform 100ms linear, -webkit-transform 100ms linear;
}

.Illuminated-button:nth-child(1)::before,
.Illuminated-button:nth-child(1)::after {
  background: linear-gradient(45deg, #3ecbee, #fff, #fff, #ff2045);
}

.Illuminated-button:nth-child(2)::before,
.Illuminated-button:nth-child(2)::after {
  background: linear-gradient(45deg, #61fa33, #fff, #fff, #ffdf2d);
}

.Illuminated-button:hover::before,
.Illuminated-button:hover::after {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-filter: blur(5px);
          filter: blur(5px);
}

.Illuminated-button__text {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  z-index: 10;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #263014;
}

.Illuminated-button__text::before {
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(105, 105, 105, 0.062);
  -webkit-transform: skew(25deg);
          transform: skew(25deg);
}

.cats {
  margin-left: auto;
  margin-right: auto;
  background-color: #ff99cc;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.activator {
  height: 100%;
  position: absolute;
  width: 100%;
}

.activator--white {
  -webkit-clip-path: polygon(35.66% 85.67%, 44.99% 83.13%, 54.08% 90.2%, 55.1% 101.27%, 64.89% 94.58%, 74.59% 86.97%, 82.83% 78.07%, 88.86% 67.82%, 91.48% 56.61%, 90.3% 42.78%, 86.06% 31.29%, 77.45% 21.44%, 67.34% 14.67%);
          clip-path: polygon(35.66% 85.67%, 44.99% 83.13%, 54.08% 90.2%, 55.1% 101.27%, 64.89% 94.58%, 74.59% 86.97%, 82.83% 78.07%, 88.86% 67.82%, 91.48% 56.61%, 90.3% 42.78%, 86.06% 31.29%, 77.45% 21.44%, 67.34% 14.67%);
}

.activator--white:hover ~ .drop {
  background-color: #1a1a1a;
}

.activator--white:hover ~ .cats__icon {
  -webkit-transform: translateX(45px) translateY(95px) scale(1.4) rotate(180deg);
          transform: translateX(45px) translateY(95px) scale(1.4) rotate(180deg);
}

.activator--black {
  -webkit-clip-path: polygon(35% 86%, 23% 79.33%, 15.86% 70.67%, 11.63% 61.78%, 8.63% 52.71%, 8.45% 43.74%, 10.78% 32.35%, 16.65% 22.15%, 26.05% 12.86%, 34.44% 6.24%, 44.4% 0%, 47.15% 11%, 56.69% 17.26%, 66.57% 14.04%);
          clip-path: polygon(35% 86%, 23% 79.33%, 15.86% 70.67%, 11.63% 61.78%, 8.63% 52.71%, 8.45% 43.74%, 10.78% 32.35%, 16.65% 22.15%, 26.05% 12.86%, 34.44% 6.24%, 44.4% 0%, 47.15% 11%, 56.69% 17.26%, 66.57% 14.04%);
}

.activator--black:hover ~ .drop {
  background-color: #f2f2f2;
}

.activator--black:hover ~ .cats__icon {
  -webkit-transform: translateX(45px) translateY(95px) scale(1.4) rotate(0deg);
          transform: translateX(45px) translateY(95px) scale(1.4) rotate(0deg);
}

.drop {
  background-color: #ffffff00;
  height: 100%;
  pointer-events: none;
  position: absolute;
  -webkit-transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}

.cats__icon {
  display: block;
  width: 300px;
  height: 300px;
  pointer-events: none;
  position: absolute;
  -webkit-transition: -webkit-transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 400ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 400ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*# sourceMappingURL=main.css.map */